body {
}

#articleIzq{
	float: left;
	width: 25%;
	height: 100%;
	background-color: #33FFFF;
}

#articleRight{
	float:left;
	width: 75%;
	background-color: #33CCFF;
}

#sectionTop{
	float:left;
}

#sectionCenter{
	float:left;
	margin-left: 100px;
}

#sectionInf{
	float:right;
}

#correo{
	height:75px;
	width: 75px;
}

#mobile{
	height:75px;
	width: 75px;
}


#foto{
	height: 150px;
	width:  150px;
	background-color: #33FFFF;
}

#listaIzq{
	list-style-type: none;
}
